.input {
    box-sizing: border-box;
    flex-grow: 1;
    height: 30px;
    background-color: rgb(233, 233, 233);
    border: none;
    height: 30px;
    border-radius: 10px;
    flex-grow: 1;
}

.input:focus {
    outline: none;
}

.inputContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

.sendBtn {
    background-color: royalblue;
    color: white;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    /* border: 0; */
}