.signUpContainer {
    margin: auto;
    width: 100%;
    height: 100%;
}

.promptNickname {
    text-align: center;
}

.nicknameInput {
    margin: auto;
    display: block;
}

.signUpBtn {
    background-color: dodgerblue;
    color: white;
    margin: auto;
    display: block;
}

.userTaken {
    color: firebrick;
    text-align: center;
}

.logInBtn {
    background-color: dodgerblue;
    color: white;
    margin: auto;
    display: block;
}